<button
    class="{{#if class}}{{class}}{{else}}button{{/if}}"
    type="{{#if type}}{{type}}{{else}}button{{/if}}"
    {{#if disabled}} disabled {{/if}}
    title="{{ title }}"
>
    {{#ifCond imgSource '&&' label }}
        <img src="{{ imgSource }}" alt="icon" />
        <span>{{ label }}</span>
    {{ else if imgSource}}
        <img src="{{ imgSource }}" {{#if loading}}loading="{{loading}}"{{/if}} alt="icon" />
    {{ else if label }}
        {{ label }}
    {{/ifCond}}
</button>
