<div class="modal user-delete-modal {{#if isActive}} modal--active {{/if}}" id="modal-add-user">
  <div class="user-delete-modal__inner modal__wrapper">
    {{{ Button
      onClick=handleCloseModal
      imgSource="/icons/close.svg"
      class="modal__close-button"
      title="Закрыть"
    }}}

    <form class="user-delete-modal__form">
      <h2 class="heading-6 user-delete-modal__title">Удалить пользователя</h2>
      <ul class="user-delete-modal__list">
        {{#each selectedChat.members}}
          {{#ifCond id '==' @root.me.id }}
            <li class="user-delete-modal__item">
              {{{ UserListItemCheckbox
                id=id
                display_name=display_name
                login=login
                avatar=avatar
                role='Вы'
              }}}
            </li>
          {{else}}
            <li class="user-delete-modal__item">
              {{{ UserListItemCheckbox
                id=id
                display_name=display_name
                login=login
                avatar=avatar
              }}}
            </li>
          {{/ifCond}}
        {{/each}}
      </ul>
      {{{ Button
        class="button button-primary user-delete-modal__button"
        type="submit"
        onClick=onSubmit
        label="Удалить"
      }}}
    </form>
  </div>
</div>

