<li class="list-item-user__chat-user {{#ifCond current_chat_id '==' id }}list-item-user__chat-user--active{{/ifCond}}">
  {{#if avatar}}
    <img src="{{ @root.storage }}{{ avatar }}" alt="avatar" class="list-item-user__chat-user-image-plug"></img>
  {{else}}
    <div class="list-item-user__chat-user-image-plug"></div>
  {{/if}}
  <div class="list-item-user__chat-user-info">
    <div class="list-item-user__chat-user-header">
      <strong>
        {{#if login}}
        <span href="/messenger#{{login}}" class="list-item-user__chat-user-name">
          {{ login }}
        </span>
        {{else if title}}
          <span href="/messenger#{{title}}" class="list-item-user__chat-user-name">
            {{ title }}
          </span>
        {{/if }}
      </strong>
      {{#if last_message}}
      <time class="list-item-user__chat-user-time">
        {{ last_message.time }}
      </time>
      {{/if}}
    </div>
    {{#if last_message}}
        <p class="text-5 list-item-user__chat-user-message">
          {{#ifCond last_message.user.login '==' my_login}}
            <span class="list-item-user__chat-user-message-sender">Вы:</span>
          {{/ifCond}}
          {{ last_message.content }}
        </p>
    {{/if}}
  </div>
  {{#if unread_count }}
    <span class="list-item-user__chat-user-unread-messages">
      {{ unread_count }}
    </span>
  {{/if}}
</li>

{{!-- {
    "user": {
        "first_name": "",
        "second_name": "",
        "display_name": null,
        "login": "asa12345",
        "avatar": null
    },
    "time": "2025-04-07T09:07:29+00:00",
    "content": "hehe",
    "id": 27553
} --}}
