<div class="aside">
  <header class="aside__header">
    {{{ Link
      class="link aside__profile-link"
      label="Профиль"
      onClick=goToProfile
    }}}
    {{{ SearchInput
      value=search
      onChange=handleInputChange
      loading=searchLoading
    }}}
  </header>

  <div class="aside__chats">
    <div class="text-5 aside__empty
      {{#ifCond search.length '==' 0}}
        {{#ifCond userChats.length '==' 0}} --is-shown {{/ifCond}}
      {{/ifCond}}">
      У вас пока нет чатов
    </div>

    <div class="text-5 aside__empty
      {{#ifCond search.length '>' 0}}
        {{#ifCond searchedUserChats.length '==' 0}} --is-shown {{/ifCond}}
      {{/ifCond}}">
      По вашему запросу ничего не найдено
    </div>

    {{#ifCond searchedUserChats.length '&&' search.length }}
      {{{ UsersList data=searchedUserChats }}}
    {{else }}
      {{{ UsersList data=userChats }}}
    {{/ifCond }}
  </div>
</div>
