<div class="chat">
  {{{LoaderOverlay loading=loading}}}

  <div class="chat__user-header {{#if selectedUser.is_selected}}--is-shown{{/if}}">
    <div class="chat__user-header-left-column">
      <div class="chat__user-header-plug"></div>
      <a
        href="/#"
        target="_blank"
        rel="noopener noreferrer"
        class="link text-4 chat__user-header-name"
      >
        {{#if display_name }}
          {{ selectedUser.display_name }}
        {{ else if selectedUser.login}}
          {{ selectedUser.login }}
        {{/if }}
      </a>
    </div>
    {{{ PopupOptions
      openAddUserModal=openAddUserModal
      openDeleteUserModal=openDeleteUserModal
    }}}
  </div>

  {{{ ChatMessagesList
    messages=messages
  }}}

  {{#if selectedUser.is_selected}}
    {{#ifCond selectedUser.chatId '!=' chatId}}
      <div class="text-5 chat__empty">
        Напишите сообщение, чтобы создать чат
      </div>
    {{/ifCond}}
  {{else}}
    <div class="text-5 chat__empty">
      Выберите чат, чтобы отправить сообщение
    </div>
  {{/if}}

  <form class="chat__footer {{#if selectedUser.is_selected}}--is-shown{{/if}}" novalidate>
    {{{PopupAttachments}}}
    {{{Input
      onChange=handleInputChange
      value=message
      name="message"
      placeholder="Сообщение"
      class="input-outlined chat__footer-search"
    }}}
    {{{Button
      title="Отправить сообщение"
      disabled=disabledSendButton
      onClick=onSubmit
      type="submit"
      class="button chat__footer-button-submit"
      imgSource="/icons/arrow-right-white.svg"
    }}}
  </form>

  {{{ModalAddUser
      isActive=modalAddUserOpened
      handleCloseModal=closeAddUserModal
  }}}
  {{{ModalDeleteUser
      isActive=modalDeleteUserOpened
      handleCloseModal=closeDeleteUserModal
  }}}
</div>
