<div class="chat">
  {{{LoaderOverlay loading=loading}}}

  <div class="chat__user-header {{#if selectedChat.is_selected}}--is-shown{{/if}}">
    <div class="chat__user-header-left-column">
      <div class="chat__user-header-plug"></div>
      {{{Button
        onClick=openChatModalInfo
        label=selectedChat.title
        title="информация о группе"
        class="link text-4 chat__user-header-name"
      }}}
    </div>
    {{{ PopupOptions
      openAddUserModal=openAddUserModal
      openDeleteUserModal=openDeleteUserModal
    }}}
  </div>

  {{{ ChatMessagesList
    messages=messages
  }}}

  {{#unless selectedChat.is_selected}}
    <div class="text-5 chat__empty">
      Выберите чат, чтобы отправить сообщение
    </div>
  {{/unless}}

  {{#unless messages.length}}
    {{#if selectedChat.is_selected}}
    <div class="text-5 chat__empty">
      Сообщений пока нет
    </div>
    {{/if}}
  {{/unless}}

  <form onsubmit="event.preventDefault();" class="chat__footer {{#if selectedChat.is_selected}}--is-shown{{/if}}" novalidate>
    {{{PopupAttachments
      openModalSendMediaModal=openModalSendMediaModal
    }}}
    {{{Input
      onChange=handleInputChange
      onKeydown=onSubmitByEnter
      value=message
      name="message"
      placeholder="Сообщение"
      class="input-outlined chat__footer-search"
    }}}
    {{{Button
      title="Отправить сообщение"
      disabled=disabledSendButton
      onClick=onSubmit
      type="button"
      class="button chat__footer-button-submit"
      imgSource="/icons/arrow-right-white.svg"
    }}}
  </form>

  {{{ModalAddUser
    isActive=modalAddUserOpened
    handleCloseModal=closeAddUserModal
  }}}
  {{{ModalDeleteUser
    isActive=modalDeleteUserOpened
    handleCloseModal=closeDeleteUserModal
  }}}
  {{{ModalSendMedia
    isActive=modalSendMediaOpened
    handleCloseModal=closeModalSendMediaModal
  }}}
  {{{ModalChatInfo
    isActive=modalChatInfoOpened
    handleCloseModal=closeChatModalInfo
  }}}
</div>
